html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-contaniner{
  padding-top: 100px;
}

.nav-link, .navbar-brand{
  font-size: 24px;
}

.card img {
  height: 200px;
}

@media only screen and (max-width: 1400px) {
  .card img {
    height: auto;
  }
  .nav-item{
    text-align: center;
  }
}